@using Sitecore.Mvc.Analytics.Extensions

@{ 
    var currentItem = Sitecore.Context.Item;
    var pageTitle = currentItem.Fields["Title"].Value;
}

<!doctype html>
<html lang="en">
<head>
    <title>@pageTitle</title>
    <link rel="shortcut icon" type="image/ico" href="./favicon.ico" />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="referrer" content="always">
    <link href="~/css/Styles.css" rel="stylesheet" type="text/css" media="all" />
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    @Html.Sitecore().Placeholder("header")

    @Html.Sitecore().Placeholder("banner")

    <section id="main">
        <div class="g-w">
            <div class="g-p">
                @Html.Sitecore().Placeholder("main")
            </div>
        </div>
    </section>

    @Html.Sitecore().Placeholder("footer")

    <script src="~/scripts/app.js"></script>
</body>
</html>
